*.DS_Store
.git
.gitignore
.cache
logs/
lib/raw/**
lib/processed/enforcements.csv
lib/processed/frs_facilities.csv
lib/processed/icis-air_facilities.csv
lib/processed/icis-npdes_facilities.csv
lib/processed/legislators.csv
lib/processed/tidy_data_*
lib/processed/tidy_data.csv
src/__pycache__/**
*_old.py
.venv*